*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:white;
    font-size: 17px;
    color: black;
    padding: 1rem ;
}



.container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.container-text h1{
    font-size: 5rem;
}

.container-text p{
    font-size: 2rem;
}

.container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
     gap: 100px;
}


.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}




.hijo3{
    
    width: 200px;
    height: 200px;
    margin: 0 0 0 0;

}


.container3{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}
























































































































































































